## Conditional

In [6]:
Angka = 25
print(Angka)
print(f'{Angka} lebih besar dari 30') # f mengubah kurung kurawal menjadi pengambilan variabel

25
25 lebih besar dari 30

In [7]:
True

True

In [8]:
False

False

In [13]:
angka = 29
if True:
  print(f"{angka} lebih besar dari 30")

46 lebih besar dari 30

In [14]:
35 > 30

True

In [16]:
angka = 46
if angka > 30:
  print(f"{angka} lebih besar dari 30")

46 lebih besar dari 30

In [17]:
angka = 
if angka > 30:
  print(f"{angka} lebih besar dari 30")
else:
  print(f'{angka} lebih kecil dari 30')

46 lebih besar dari 30

Cek apaka angka yang berada di variable angka adalah bilangan ganjil/genap?

In [18]:
angka = 15

if angka%2 == 0 :
  print(f"{angka} adalah bilangan genap")
else:
  print(f'{angka} adalah bilangan ganjil')

15 adalah bilangan ganjil

In [20]:
angka = 15

if angka%2 != 0 :
  print(f"{angka} adalah bilangan ganjil")
else:
  print(f'{angka} adalah bilangan genap')

15 adalah bilangan ganjil

In [22]:
bahasa_pemograman = ["python", "java", "javascript", "Golang"]
bahasa = "python"

if bahasa in bahasa_pemograman:
  print(f"{bahasa} ada dalam list bahasa_pemograman")
else:
  print(f"{bahasa} ada dalam list bahasa_pemograman")

python ada dalam list bahasa_pemograman

In [23]:
angka = 35 
if angka > 30:
   print(f"{angka} lebih besar dari 30")
if angka == 30:
  print(f"{angka} sama dengan 30")
else:
  print(f"{angka} lebih kecil dari 30")

35 lebih besar dari 30
35 lebih kecil dari 30

In [24]:
angka = 35 
if angka > 30:
   print(f"{angka} lebih besar dari 30")  #if Satu (selalu ada)
elif angka == 30:
  print(f"{angka} sama dengan 30")  # if boleh banyak
else:
  print(f"{angka} lebih kecil dari 30") #else satu (boleh ada atau engga)

35 lebih besar dari 30

Dictionary

In [26]:
Biodata = {'nama': "Farid", 'Pekerjaan':'Data Science', 'Usia':20 }
'usia' in Biodata

False

## Nested If

In [27]:
angka = 16 

if angka%2 != 0 :
  print(f"{angka} adalah bilangan ganjil")
  if angka > 10:
   print(f"{angka} lebih besar dari 10")
  else :
   print(f"{angka} lebi kecil dari 10") 
else:
  print(f"{angka} adalah bilangan genap")

16 adalah bilangan genap

In [ ]:
# [85 -100] : A
# [70 - 85] : B
# [50 - 70] : C
# [25 - 50] : D
# [0 - 25] : E

In [29]:
score = 20
if 85 <= score <= 100:
    result = 'A'
elif 70 <= score < 85:
    result = 'B'
elif 50 <= score < 70:
    result = 'C'
elif 25 <= score < 50:
    result = 'D'
elif 0 <= score < 25:
    result = 'E'

print(result)

E

In [30]:
nilai = 102
if 85 <= nilai <=100:
  print(f'{nilai} memiliki indeks A')
elif 70 <= nilai < 85:
  print(f'{nilai} memiliki indeks B')
elif 50 <= nilai < 70:
  print(f'{nilai} memiliki indeks C')
elif 25 <= nilai < 50:
  print(f'{nilai} memiliki indeks D')
elif 0 <= nilai <25:
  print(f'{nilai} memiliki indeks E')
else:
  print('nilai tidak ada')

nilai tidak ada

In [32]:
angka = 120
if 0 <= angka <= 100:
  if angka >= 85:
    print("A") 
  elif angka >= 70:
    print("B")
  elif angka >= 50:
    print("C")  
  elif angka >= 25:
    print("D")  
  else:
    print("E")
else:
  print("Nilai tidak valid")

Nilai tidak valid

## Looping

In [ ]:
# mengulang syntax yang ada dibawah
 #infinity loop (tak hingga),

In [ ]:
angka = 1

In [33]:
angka = 2
print(angka)

2

In [34]:
angka = 3
print(angka)

3

In [35]:
angka = angka + 1
print(angka)

4

In [36]:
angka = angka +2
print(angka)

6

In [39]:
i = 0
while i < 5:
  print(f'i={i}, dalam while loop')
  i = i + 1

i=0, dalam while loop
i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop

In [40]:
i = 0
while i < 5:
  i = i + 1
  print(f'i={i}, dalam while loop')

i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop
i=5, dalam while loop

In [42]:
i = 1
while i <= 10:
 print(f'7 x {i} = {7*i}')
 i += 1 # i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## Nested Loop

In [44]:
i = 1
j = 1

while j <=10:
  i = j
  while i <= 10:
    print(f'{j} x {i} = {j*i}')
    i += 1
  print('*'*50)
  j +=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 10 = 100
**************************************************

In [ ]:
#Break

In [45]:
# continue

i = 1
while i <= 10:
  i += 1
  if i== 5:
    continue
  print(f'7 x {7*i}')

7 x 14
7 x 21
7 x 28
7 x 42
7 x 49
7 x 56
7 x 63
7 x 70
7 x 77

In [46]:
i = 1
while i <= 10:
  
  if i== 5:
    continue
  print(f'7 x {7*i}')
  i += 1

7 x 7
7 x 14
7 x 21
7 x 28

KeyboardInterrupt: ignored

## For Loop

In [48]:
buah = ['Pepaya', 'Jambu', 'Mangga', 'Apel']
for a in buah:
  print(f'{a} adalah item dari list buah')

Pepaya adalah item dari list buah
Jambu adalah item dari list buah
Mangga adalah item dari list buah
Apel adalah item dari list buah

In [50]:
i = 0
buah = ['Pepaya', 'Jambu', 'Mangga', 'Apel']
while i < len(buah):
  print(buah[i])

  i += 1

Pepaya
Jambu
Mangga
Apel

In [51]:
for i in range(len(buah)):
  print(f'{buah[i]} adalah item dari list buah')

Pepaya adalah item dari list buah
Jambu adalah item dari list buah
Mangga adalah item dari list buah
Apel adalah item dari list buah

In [52]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
# tabel perkalian 7

for i  in range(1,11):
  print(f"7 x {i} = {7*1}")

7 x 1 = 7
7 x 2 = 7
7 x 3 = 7
7 x 4 = 7
7 x 5 = 7
7 x 6 = 7
7 x 7 = 7
7 x 8 = 7
7 x 9 = 7
7 x 10 = 7